.window {
    display: grid;
    width: 25vw;
    height: 45vh;
    grid-template-rows: 25% 10% 65%;
    border: 5px solid black;
}

img {
    height: 100px;
}

.currInfo {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: 33% 33% 33%;
}

.ticker {
    height: 100%;
    width: 100%;
}

.price {
    height: 100%;
    width: 100%;
}

.percentChange {
    height: 100%;
    width: 100%;
}

.newsStories {
    display: grid;
    grid-template-rows: auto auto;
    height: 100%;
    width: 100%;
    overflow-y:auto; 
}

.newsArticle {
    width: 100%;
    margin-top: 25px;
}

.newsArticle .publisher {
    width: 100%;
    margin-top: 25px;
}

.newsArticle a {
    width: 100%;
}
