html {
    overflow-x: hidden;
  }

body {
    height: 600px;
    width: 790px;

}



.accordion {
    background-color: #eee;
    width: 750px;
    color: #444;
    cursor: pointer;
    box-sizing: border-box;
    padding: 18px;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
    border: 2.5px solid black;
    font-size: 20px;
    font-weight: bold;
  }
  
  .active, .accordion:hover {
    background-color: #ccc;
  }


.window {
    display: grid;
    width: 730px;
    height: 650px;
    grid-template-rows: 75px 350px 200px;
    border: 2.5px solid black;


    /* padding: 0 18px; */
    background-color: white;
    max-height: 0;
    overflow-y: scroll;
    overflow-x: hidden;
    transition: max-height 0.2s ease-out;
    place-items: center;
}

img {
    height: 75px;
    margin-top: 20px;
}

.currInfo {
    display: grid;
    width: 730px;
    height: 300px;
    grid-template-columns: 175px 425px;
}
.left {
    display: grid;
    grid-template-rows: 33% 33% 33%;
}
.right {
    width: 500px;
}

.tickerOne {
    height: auto;
    width: 100%;
}
.tickerTwo {
    height: auto;
    width: 100%;
}

.tickerThree {
    height: auto;
    width: 100%;
}

.priceOne {
    height: auto;
    width: 100%;
}
.priceTwo {
    height: auto;
    width: 100%;
}
.priceThree {
    height: auto;
    width: 100%;
}


.percentChangeOne  {
    height: 100%;
    width: 100%;
    margin-bottom: 5px;
}
.percentChangeTwo  {
    height: 100%;
    width: 100%;
    margin-bottom: 5px;
}
.percentChangeThree  {
    height: 100%;
    width: 100%;
    margin-bottom: 5px;
}

.newsStoriesOne {
    display: grid;
    grid-template-rows: auto auto;
    height: 100%;
    width: 100%;
    overflow-y: scroll; 
}

.newsStoriesTwo {
    display: grid;
    grid-template-rows: auto auto;
    height: 100%;
    width: 100%;
    overflow-y: scroll; 
}

.newsStoriesThree {
    display: grid;
    grid-template-rows: auto auto;
    height: 100%;
    width: 100%;
    overflow-y: scroll; 
}

.newsArticle {
    width: 100%;
    margin-top: 5px;
}

.newsArticle .publisher {
    width: 100%;
    margin-top: 5px;
}

.newsArticle a {
    width: 100%;
}

#teslaChart {
    height: 300px !important;
    width: 550px !important;
}

#appleChart {
    height: 300px !important;
    width: 550px !important;
}
#msftChart {
    height: 300px !important;
    width: 550px !important;
}
